
html{
    
    main{

        p{
            font-family: Helvetica, Arial, sans-serif;
            color: blue
        }
        .custom-background {
            background-size: cover;
            background-position: center;
        }
    }
}