/** @format */

@import "navbar.scss";
@import "footer.scss";

body {
  scroll-behavior: smooth;
  font-family: Trebuchet MS, Tahoma, sans-serif;
  li {
    list-style: none;
  }
  a {
    text-transform: none;
    text-decoration: none;
  }
  main {
    text-align: center;
    display: flex;
    flex-direction: column;

    p {
      color: rgb(106, 80, 123);
    }
  }
}
